.content {
    display: flex;
    margin: 20px 12px;
    gap: 20px;
    overflow-x: scroll;
}

@media screen and (min-width: 382px) {
    .content {
        padding: 20px 10%;
    }
}

@media screen and (min-width: 1250px) {
    .content {
        gap: 25px;
        margin-top: 60px;
        overflow-x: hidden;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}