:root {
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --color-grey-600: #373737;
    --color-grey-300: #828282;
    --color-grey-200: #BDBDBD;
    --color-grey-100: #E0E0E0;
    --color-grey-0: #0F52BA;
    --color-white: #FFFFFF;
    --color-grey: #EEEEEE;

    --color-black-rgba: rgba(0, 0, 0, .3);
    --color-black: #000000;
    --color-negative: #E60000;
    --color-warning: #FFCD07;
    --color-sucess: #168821;
    --color-information: #155BCB;
}