:root {
    
    font-family: 'Montserrat', sans-serif;

    
    --title-weight: 600;
    --paragraph-weight: 400;
    --hover-weight: 300;

    --logo-size: 40px;
    --title-size: 27px;
    --title-values: 25px;
    --subtitle-size: 22px
    --topic-size: 18px
    --paragraph-size: 16px;
    --body-size: 14px;
    --hover-size: 12px;   
    --span-size: 20px
}